// Colors
$light-color: white;
$green: #659390;
$red: #9b4d67;
$blue: #7f8695;
$light-blue: #868d9f;
$light-grey: #ececec;
$dark-grey: #707070;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
$playfair: 'Playfair Display', serif;
$alisha: 'Alisha', sans-serif;
$roboto: 'Roboto', sans-serif;
